$white: #ffffff;
$black: #000000;
$lightBlack: rgba(0, 0, 0, 0.1);
$black100: rgba(0, 0, 0, 0.45);
$black200: rgba($black, 0.85);
$black300: rgba($black, 0.65);
$black400: rgba($black, 0.6);
$red: #e92323;
$yellow100: #ffc700;
$teal: #38a3a9;
$yellow: #b68a35;
$primaryBlue: #18529d;
$lightBlue: rgba($primaryBlue, 0.8);
$darkBlue: #053675;
$disabledBlue: #9ab5d8ff;
$disabledWhite: #c6c6c6;
$disabledWhite-85: rgba(198, 198, 198, 0.85);
$disabledWhiteLight: #f9f9f9;
$blue100: #2b548a;
$blue: rgba(5, 54, 117, 0.85);
$blue200: #8fa9ce;
$blue300: #dce5f0;
$blue400: #e2eeff;
$gray100: rgba($black, 0.6);
$gray200: rgba($black, 0.55);
$gray300: #b4b4b4;
$gray400: #c6c6c6;
$gray500: #fafafa;
$gray600: #efefef;
$gray700: #c4c4c4;
$lightGrey: #38a3a9;
